.header {
    background-color: lightgray;
    padding: 0.5%;
    text-align: center;
}

.main {
    background-color: black;
    color: white;
    padding: 0.5%;
}

.linkquestions {
    font-size: 17px;
}

.footer {
    background-color: lightgray;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

table{
    width: 100%;
    overflow-x: hidden;
    table-layout: fixed;
}

.tablehead {
    writing-mode:vertical-lr; 
    transform: rotate(180deg); 
    height: 10px;
    width: 10px;
    font-size: 13px; 
    text-align: center;
}

.tableheadquestionfour{
    height: 10px;
    width: 10px;
    text-align: center;
}

td{
    height: 10px;
    width: 10px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.criticallygravelow {
    background-color: darkblue;
}

.gravelylow {
    background-color: mediumblue;
}

.low {
    background-color: blue;
}

.ideal {
    background-color: lime;
}

.overweight {
    background-color: yellow;
}

.obesityone {
    background-color: red;
}

.obesitytwo {
    background-color: firebrick;
}

.obesitythree {
    background-color: darkred;
}

.ideal:hover ,
.overweight:hover{
    filter: brightness(75%);
}

.criticallygravelow:hover,
.gravelylow:hover,
.low:hover,
.obesityone:hover,
.obesitytwo:hover,
.obesitythree:hover{
    opacity: 25%;
}

.question{
    font-weight: bold;
}

.correctanswer{
    color: lime;
}